@using DartsApp.Client.Services

@inject NavigationManager NavigationManager
@inject IUserSessionProvider UserSessionProvider
@inject IGameService GameService

@page "/creategame"

<PageTitle>Create Game</PageTitle>

<div>players:</div>
@foreach (var id in Players)
{
    <div>@id</div>
}
<hr />

<div @onclick=OnAddUserButton>add player</div>
<div @onclick=OnCreateGameButton>create game</div>

@code
{
    public List<Guid> Players = new List<Guid>();

    public void OnAddUserButton()
    {
        Players.Add(Guid.NewGuid());
    }
    public async void OnCreateGameButton()
    {
        var creationInfo = new GameCreationInfo()
        { 
            OwnerId = UserSessionProvider.SessionId,
            Players = Players
        };

        var gameId = await GameService.CreateGameAsync(creationInfo);
        NavigationManager.NavigateTo($"/game/{gameId}");
    }
}