@using DartsApp.Client.Services

@inject IUserSessionProvider SessionProvider
@inject NavigationManager NavigationManager
@inject IGameService GameService

@page "/game/{gameId:guid}"

<PageTitle>Game</PageTitle>

<div>gameId: @GameObj.Id; currentPlayer: @GameObj.CurrentPlayer</div>
<hr />

<div>score:</div>
@foreach (var playerId in GameObj.Players)
{
    <div>@playerId: @GameObj.Players</div>
}
<hr />

<input type="text" @bind=Value1 /><br />
<input type="text" @bind=Value2 /><br />
<input type="text" @bind=Value3 /><br />
<div @onclick=OnUpdateScoreButton>update score</div>
<hr />

@code
{
    [Parameter]
    public Guid GameId { get; set; }

    public Services.Game GameObj { get; set; }

    public int Value1 { get; set; }
    public int Value2 { get; set; }
    public int Value3 { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GameObj = GameService.GetGameInfo(GameId);
    }
    public void OnUpdateScoreButton()
    {
        var scoreInfo = new ApplyScoreInfo()
        { 

        };

        GameService.ApplyScore(scoreInfo);
        GameObj = GameService.GetGameInfo(GameId);
    }
}