@using DartsApp.Client.Services

@inject NavigationManager NavigationManager
@inject IUserSessionProvider UserSessionProvider
@inject IGameService GameService

@page "/game/{gameId:guid}"

<PageTitle>Game</PageTitle>

<div>gameId: @GameObj?.Id; currentPlayer: @GameObj?.CurrentPlayer</div>
<hr />

<div>score:</div>
@if (GameObj != null && GameObj.Players != null)
{ 
    foreach (var playerId in GameObj.Players)
    {
        <div>@playerId: @GameObj.Players</div>
    }
}
<hr />

<input type="text" @bind=Value1 /><br />
<input type="text" @bind=Value2 /><br />
<input type="text" @bind=Value3 /><br />
<div @onclick=OnUpdateScoreButtonAsync>update score</div>
<hr />

@code
{
    [Parameter]
    public Guid GameId { get; set; }

    public Services.Game GameObj { get; set; }

    public int Value1 { get; set; }
    public int Value2 { get; set; }
    public int Value3 { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadGameAsync();
    }
    public async void LoadGameAsync()
    {
        var game = await GameService.GetGameInfoAsync(GameId);
        GameObj = game;
        // StateHasChanged();    
    }
    public async void OnUpdateScoreButtonAsync()
    {
        var scoreInfo = new ApplyScoreInfo()
        { 

        };

        await GameService.ApplyScoreAsync(scoreInfo);
        GameObj = await GameService.GetGameInfoAsync(GameId);
    }
}