@using DartsApp.Client.Services

@page "/"
@page "/home"
@page "/main"
@page "/index"

<PageTitle>Home</PageTitle>

<div> Home page</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}