@using DartsApp.Client.Services

@inject IUserSessionProvider SessionProvider
@inject ICookieService CookieService

@page "/"
@page "/home"
@page "/main"
@page "/index"

<PageTitle>Home</PageTitle>

<div>@Cookie</div>
<div @onclick=OnRefreshButtonClick>refresh</div>

@code
{
    public string Cookie { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Cookie = string.Empty;
    }

    public void OnRefreshButtonClick()
    {
        string cookie = CookieService.GetCookieAsync("userSessionId").Result;
        Cookie = cookie;
    }
}