@using DartsApp.Client.Services

@inherits LayoutComponentBase

@inject IUserSessionProvider SessionProvider

<div>session: @SessionProvider.SessionId</div>
<hr />

<div>
    <NavLink href="login"> Log In </NavLink>
    @if (SessionProvider.SessionId != Guid.Empty)
    {
        <NavLink href="logout">| Log Out </NavLink>
        <NavLink href="creategame">| Create Game </NavLink>
    }
</div>
<hr />

@Body

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        SessionProvider.OnSessionIdChanged += (object? o, Guid guid) => 
        { 
            StateHasChanged();         
        };
    }
}
